@use "./scss/" as *;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&family=Montserrat:wght@400;500;600;700;900&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import "~bootstrap/scss/bootstrap";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: unset;
}
button,
input {
  outline: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}